<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>profile</title>
  </head>
  <body>
    <div style="text-align:center;background-color:#FFFF00"><h1>登入成功 可返回LINE繼續操作</h1></div>
    <div style="text-align:center;border:1px #ccc solid;padding:5px;margin-top:15px;color:blue"><h3>以下為使用者資訊</h3></div>
    <div style="text-align:center;border:1px #ccc solid;padding:5px;margin-top:15px;color:blue"><h3>name: {{ name }}</h3></div>
    <div style="text-align:center;border:1px #ccc solid;padding:5px;margin-top:15px;color:blue"><h3>Line ID:{{ userID }}</h3></div>
    
  </body>
</html>
