<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>滷味價格試算</title>
    </head>
    <body style="background-image: url('https://student04.herokuapp.com/static/bg.jpg');">
        <h1 align='center'>食物價格與熱量查詢</h1>
        <h3 align='center'>若不需要的餐點  請填寫0</h3>
        <div>
            <script src="https://student04.herokuapp.com/static/model.js"></script>
            <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
            <script> function Auth() {
                var URL = 'https://access.line.me/oauth2/v2.1/authorize?';
                URL += 'response_type=code';
                URL += '&client_id={{client_id}}';  //請換成你自己的 client_id
                URL += '&redirect_uri={{end_point}}/shoppingcar'; //請換成你自己的 callback url
                URL += '&scope=profile%20openid%20email';
                URL += '&state=123453sdfgfd';
                //導引到LineLogin
                window.location.href = URL; }
            </script>
            <script>
                function initializeLiff() {
                    liff.init({liffId: '1656880552-mzJQQEzw'}) 
                        .then(() => {if (liff.isLoggedIn()) {
                                        const idToken = liff.getIDToken();
                                        console.log("getIDToken", idToken) ;print  (idToken );
                                        if (idToken) {alert("取得IDToken");
                                        }
                                        }
                                        }
                                )
                        .catch((err) => {console.log('初始化失敗')});
                        liff.getProfile()
                            .then(function(profile) {
                                const userId = profile.userId;
                                const name = profile.displayName;
                                const pictureUrl = profile.pictureUrl;
                                const statusMessage = profile.statusMessage;
                            
                            }).catch(function (error) {console.log('error', err)});
                        // liff.init({liffId: '1656880552-mzJQQEzw'})
                        //     .then(() => {
                                
                        //         initializeApp();})
                        //     .catch((err) => {
                        //     });
                        
                        //     liff.login({
                        //         // 使用者登入後要去到哪個頁面
                        //         redirectUri: 'https://student04.herokuapp.com/shoppingcar'
                        //         });
                        
                   }        
            </script>
            <form method='post' action="https://student04.herokuapp.com/shoppingcar">
            
                <table align='center' style="border:3px hsl(256, 100%, 75%) dashed;" cellpadding="10" border='1'>
                    <tr>
                        <th>食物名稱</th>
                        <th>價格與熱量</th>
                        <th>購買數量</th>
                    </tr>
                    <tr>
                        <td><img src="https://student04.herokuapp.com/static/one.jpg" width="100" height="100"> <br> <h3 align='center'>甜不辣</h3> </td>
                        <td>價格: 一片 10元 <br> 熱量 : 210大卡 </td>
                        <td><input value="0" required id="c" type="text" style="width: 100px ;height: 40px; font-size:18px " name="c"></td>
                    </tr>
                    <tr>
                        <td><img src="https://student04.herokuapp.com/static/two.jpg" width="100" height="100"> <br> <h3 align='center'>海帶</h3> </td>
                        <td>價格: 一片 10元 <br> 熱量 : 8大卡 </td>
                        <td><input value="0" required id="d" type="text" style="width: 100px ;height: 40px; font-size:18px" name="d"></td>
                    </tr>
                    <tr>
                        <td><img src="https://student04.herokuapp.com/static/three.jpg" width="100" height="100"> <br> <h3 align='center'>米血</h3> </td>
                        <td>價格: 一塊 20元 <br> 熱量 : 194大卡 </td>
                        <td><input value="0" required id="e" type="text" style="width: 100px ;height: 40px; font-size:18px" name="e"></td>
                    </tr>
                    <tr>
                        <td><img src="https://student04.herokuapp.com/static/four.jpg" width="100" height="100"> <br> <h3 align='center'>大豆干</h3> </td>
                        <td>價格: 一塊 20元 <br> 熱量 : 192大卡 </td>
                        <td><input value="0" required id="f" type="text" style="width: 100px ;height: 40px; font-size:18px" name="f"></td>
                    </tr>
                    <tr>
                        <td><img src="https://student04.herokuapp.com/static/five.jpg" width="100" height="100"> <br> <h3 align='center'>鴨心</h3> </td>
                        <td>價格: 一個 10元 <br> 熱量 : 154大卡 </td>
                        <td><input value="0" required id="g" type="text" style="width: 100px ;height: 40px; font-size:18px" name="g"></td>
                    </tr>
                    <tr>
                        <td><img src="https://student04.herokuapp.com/static/six.jpg" width="100" height="100"> <br> <h3 align='center'>鴨珍</h3> </td>
                        <td>價格: 一個 30元 <br> 熱量 : 202大卡 </td>
                        <td><input value="0" required id="h" type="text" style="width: 100px ;height: 40px; font-size:18px" name="h"></td>
                    </tr>
                    <tr>
                        <td><img src="https://student04.herokuapp.com/static/seven.jpg" width="100" height="100"> <br> <h3 align='center'>豆皮</h3> </td>
                        <td>價格: 一片 20元 <br> 熱量 : 199大卡 </td>
                        <td><input value="0" required id="i" type="text" style="width: 100px ;height: 40px; font-size:18px" name="i"></td>
                    </tr>
                    <tr>
                        <td><img src="https://student04.herokuapp.com/static/eight.jpg" width="100" height="100"> <br> <h3 align='center'>水晶餃</h3> </td>
                        <td>價格: 一顆 5元 <br> 熱量 : 180大卡 </td>
                        <td><input value="0" required id="j" type="text" style="width: 100px ;height: 40px; font-size:18px" name="j"></td>
                    </tr>
                    <tr>
                        <td><img src="https://student04.herokuapp.com/static/nine.jpg" width="100" height="100"> <br> <h3 align='center'>小熱狗</h3> </td>
                        <td>價格: 一個 10元 <br> 熱量 : 226大卡 </td>
                        <td><input value="0" required id="k" type="text" style="width: 100px ;height: 40px; font-size:18px" name="k"></td>
                    </tr>
                    <tr>
                        <td><img src="https://student04.herokuapp.com/static/ten.jpg" width="100" height="100"> <br> <h3 align='center'>米腸</h3> </td>
                        <td>價格: 一條 20元 <br> 熱量 : 221大卡 </td>
                        <td><input value="0" required id="l" type="text" style="width: 100px ;height: 40px; font-size:18px" name="l"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input id="cliv" type="button"  value="查詢" onclick="abc()" style="width:120px;height:40px;font-size:20px;background: #1E90FF;color: white"></td>
                        <td>價格 : <output id="result_one" style="font-size:20px"></output>
                            <br>熱量 : <output id="result_two" style="font-size:20px"></output>
                            <br>會員號碼 : <input  type="text" name="m" style="width: 50px; height: 30px ;font-size:20px ;">
                            <br> <button type="submit" onclick="Auth()" style="width:120px;height:40px;font-size:20px;background: #1E90FF;color: white">結帳</button>
                        
                            
                        </td>
                    </tr>
                </table>
            </form>
        </div>

    </body>
</html>